.Container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(20, 20, 20, 0.6);
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.modalPop {
	will-change: transform;
}

.modalPop[pop='1'] {
    animation: modalPop 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.modalPop[pop='0'] {
    animation: modalFade 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

@keyframes modalFade {
    from {transform: translate(50%, -50%) scale(1)}
    to   {transform: translate(50%, -50%) scale(0.5)}
}

@keyframes modalPop {
    from {transform: translate(50%, -50%) scale(0.6)}
    to   {transform: translate(50%, -50%) scale(1)}
}